.card-section {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--marrom);
    border-radius: 8px;
    padding: 2em 3em;
    margin: 2em;
    width: 30vw;
    background-color: var(--branco-puro);
}

.card-titulo-container {
    display: flex;
    gap: 1em;
    text-align: left;
}

.card-foto {
    border-radius: 360px;
    min-height: 100px;
    height: 12vh;
}

.card-historia {
    text-align: left;
}

.tiago {
    transition: box-shadow 0.55s ease;
}

.tiago:hover {
    border: 1px solid var(--bordo);
    box-shadow:
        0 8px 32px rgba(83, 5, 5, 0.363),
        0 2px 12px rgba(0, 0, 0, 0.137);
}

.rosangela {
    transition: box-shadow 0.55s ease;
}

.rosangela:hover {
    border: 1px solid var(--amarelo-dourado);
    box-shadow:
        0 8px 32px rgba(110, 77, 6, 0.342),
        0 2px 12px rgba(0, 0, 0, 0.137);
}

@media (max-width: 1024px) {
    .card-section {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .card {
        width: min(680px, 100%);
        margin: 1em 0;
    }
}

@media (max-width: 700px) {
    .card {
        padding: 1em;
    }

    .card-titulo-container {
        flex-direction: column;
        align-items: flex-start;
    }
}


/*
card-section
    card
        card-titulo-container
            card-foto
            card-nome
            card-sub
        card-historia*/